version: 2
updates:
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: weekly
    open-pull-requests-limit: 10
    groups:
      deck-loaders-luma:
        patterns:
          - "*deck*"
          - "*loaders*"
          - "*luma*"
      other:
        patterns:
          - "*"
        exclude-patterns:
          - "*deck*"
          - "*loaders*"
          - "*luma*"
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: weekly
    open-pull-requests-limit: 10
