*.html
*.zip
*.geojson
*.geojson.zip
*.arrow
*.parquet
*.feather
.ruff_cache
dist
.DS_Store
# So that notebooks are only included _intentionally_
*.ipynb
.cache
site

# pixi environments
.pixi
.ipynb_checkpoints
.yarn
*.wasm
__pycache__
.pnp.cjs
.pnp.loader.mjs
node_modules
*.h5
