[tool.poetry]
name = "lonboard"
version = "0.1.0"
description = "Extremely fast geospatial data visualization in Python."
authors = ["Kyle Barron <kyle@developmentseed.org>"]
readme = "README.md"
packages = [{ include = "lonboard" }]
include = ["lonboard/static/*.js"]

[tool.poetry.dependencies]
python = "^3.8"
anywidget = "^0.6.3"
pyarrow = "^13.0.0"
geopandas = ">=0.13"
pydantic = "^2"
# This is a dependency of anywidget[dev], and used in anywidget.experimental but
# we declare it here so that we don't need to pull in watchfiles in
# anywidget[dev] as a non-dev dependency
comm = "^0.1.4"

[tool.poetry.group.dev.dependencies]
anywidget = { version = "^0.6.3", extras = ["dev"] }
jupyterlab = "^4.0.5"
watchfiles = "^0.20.0"
pre-commit = "^3.4.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
profile = "black"

[tool.ruff]

[tool.ruff.extend-per-file-ignores]
"__init__.py" = [
    "F401", # Allow unused imports in __init__.py files
]
