/* Remove spaces between table cells */
.lonboard-tooltip table {
  border-collapse: collapse;
}

/* Alternate row colors */
.lonboard-tooltip table tr:nth-child(odd) {
  background-color: white;
}

.lonboard-tooltip table tr:nth-child(even) {
  background-color: rgb(241, 241, 241);
}

/* Define table cell borders and padding */
.lonboard-tooltip td {
  border: 1px solid rgb(204, 204, 204);
  padding: 5px;
}

/* Make the first column bold */
.lonboard-tooltip td:first-child {
  font-weight: 450;
}
