name: Python test

# On every pull request, but only on push to master
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]

    steps:
      - uses: actions/checkout@v5

      - name: Set up Python ${{ matrix.python-version }}
        id: setup-python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      # Note: this should stay synced with the volta-pinned version in
      # package.json
      - uses: actions/setup-node@v5
        with:
          node-version: "18"

      - name: Cache NPM dependencies
        uses: actions/cache@v4
        with:
          path: ~/.npm
          # Note: this does **not** depend on the Python version in the cache
          # key
          key: ${{ runner.OS }}-npm-cache-${{ hashFiles('**/package-lock.json') }}

      - name: Install JS dependencies
        run: |
          # Note: we use ci for a "clean install", checking the lockfile
          npm ci

      - name: Install a specific version of uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
          version: "0.4.x"

      # Note: we don't install the "watchfiles" group on CI because it gives
      # threading errors when running tests. See
      # https://github.com/developmentseed/lonboard/pull/234
      # https://github.com/manzt/anywidget/issues/374
      - name: Install root project
        run: uv sync --no-group watchfiles

      - name: Build JS bundle
        run: |
          npm run build

      - name: Run tests
        run: uv run pytest

      - name: Run tests (all deps)
        run: |
          uv sync --extra geopandas --extra cli
          uv run pytest

      # Ensure docs build without warnings
      - name: Check docs
        if: "${{ matrix.python-version == 3.11 }}"
        run: uv run --group docs mkdocs build --strict

      # Use ruff-action so we get annotations in the Github UI
      - uses: astral-sh/ruff-action@v3

      - name: Cache pre-commit virtualenvs
        uses: actions/cache@v4
        if: "${{ matrix.python-version == 3.11 }}"
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-3|${{ hashFiles('.pre-commit-config.yaml') }}

      - name: run pre-commit
        if: "${{ matrix.python-version == 3.11 }}"
        run: |
          uv run pre-commit run --show-diff-on-failure --color=always --all-files
